.gist table {
	margin-bottom: 0 !important;
	table-layout: auto !important;
}
.gist .line-numbers
{
	width: 4em !important;
}
.gist .line,
.gist .line-number
{
	font-size: 12px !important;
	height: 18px !important;
	line-height: 18px !important;
}
.gist .line
{
	white-space: pre !important;
	width: auto !important;
	word-wrap: normal !important;
}
.gist .line span
{
	word-wrap: normal !important;
}
